body {
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  top: 10vh;
  display: flex;
  height: 90vh;
  width: 100%;
}
  
#map {
  width: 40%;
}

#sidebar {
  right: 0;
  width: 60%;
  z-index: 1;
  display: flex;
  border: 1px solid red;
}

#left-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}


#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#title {
  margin: 0;
}

#login-signup {
  display: flex;
}

#signup,
#login {
  margin-left: 10px; /* Adjust as needed */
}


.leaflet-tooltip {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.label-text {
  font-size: 13px;
  font-weight: bold;
}

#milan, #me {
  flex-grow: 1;
}

#leaderboard {
  flex-grow: 2;
}

#milan, #me, #leaderboard {
  border: 3px solid green;
}

#signup-box {
  display: none;
  border: 1px solid black;
}
