#title {
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
}

.header {
  display: inline-block;
}

.header h1, h2 {
  color: white;
}

body {
  font-family: Anuphan;
  margin: 0;
}

#container {
  position: absolute;
  top: 10vh;
  display: flex;
  height: 90vh;
  width: 100vw;
}
  
#map {
  width: 100vw;
}

#sidebar {
  right: 90vw;
  width: 30vw;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#area-label {
  font-weight: bold;
}

#area {
  font-size: 1.2em;
  font-weight: bold;
}

h1 {
  font-weight: 200;
  font-size: 40px;
  margin-left: 40px;
}

h2 {
  font-size: 20px;
  font-weight: 300;
  margin-left: 50px;
}

#me {
  font-weight: 500;
}


#get-started-text {
  font-family: Anuphan;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
}

.hidden {
  display: none;
}

#delete-region {
  position: absolute;
  bottom: 10px;
  width: 15vw;
  height: 5vh;
  background-color: red;
  color: white;
  border-radius: 10px;
}

#delete-region:hover {
  background-color: darkred;
}

#active-region {
  font-size: 25px;
  border: 0;
  font-family: Anuphan;
  width: 100%; /* Set the width to 100% */
  box-sizing: border-box; /* Include padding and border in the width */
  padding: 10px; /* Add padding for better appearance */
  margin: 0; /* Remove any default margin */
  align-self: flex-start;
}

